{% extends 'base.html' %}
{% load static %}
{% block title %}Home - Your Site{% endblock %}

{% block content %}
    <article class="mb-4">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <h2 class="section-heading">{{ post.title }}</h2>
                    {{ post.content|safe }}
                    {% if post.video %}
                        <div class="embed-responsive embed-responsive-21by9">
                            <video class="embed-responsive-item img-fluid" controls>
                                <source src="{{ post.video.url }}" type="video/mp4">
                                Your browser does not support the video tag.
                            </video>
                        </div>


                    {% endif %}
                    <hr class="my-4"/>
                    {% for image in post.image_set.all %}
                        <a href="#!"><img class="img-fluid" src="{{ image.image.url }}" alt="..."/></a>
                        <hr class="my-4"/>
                    {% endfor %}
                    <p>
                        Placeholder text by
                        <a href="http://spaceipsum.com/">Space Ipsum</a>
                        &middot; Images by
                        <a href="https://www.flickr.com/photos/nasacommons/">NASA on The Commons</a>
                    </p>
                </div>
            </div>
        </div>
    </article>
{% endblock %}
