{% extends 'base.html' %}
{% block title %}Home - Your Site{% endblock %}

{% block content %}
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <!-- Post preview-->
                {% for post in posts %}
                    <div class="post-preview">
                        <a href="{% url 'details' pk=post.pk %}">
                            <h2 class="post-title">{{ post.title }}</h2>
                            <h3 class="post-subtitle">
                                {% with encoded_content=post.content|truncatechars:100 %}
                                    <h3 class="post-subtitle">{{ encoded_content|safe }}</h3>
                                {% endwith %}
                            </h3>
                        </a>
                        <p class="post-meta">
                            Posted by
                            <a href="#!">{{ post.author }}</a>
                            on {{ post.created_on|date:"F j, Y" }}
                        </p>
                    </div>
                    <hr class="my-4"/>

                {% endfor %}
{#                <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="#!">Older#}
{#                    Posts#}
{#                    →</a></div>#}
            </div>
        </div>
    </div>

{% endblock %}
